.user-info__header

.user-info__content
  .user-info__content__header
    %h2 会員情報入力
  .user-info__content__body
    .user-info__content__body__form
      .user-info__content__body__form__nickname
        ニックネーム
        %span.header_required
          必須
      .user-info__content__body__form__email
        メールアドレス
        %span.header_required
          必須
      .user-info__content__body__form__password
        パスワード
        %span.header_required
          必須
      .user-info__content__body__form__password__confirmation
        パスワード（確認）
        %span.header_required
          必須
      .user-info__content__body__form__identify__announce
        .user-info__content__body__form__identify__announce__header
          本人確認
        .user-info__content__body__form__identify__announce__explain
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .user-info__content__body__form__name-kanji
      .user-info__content__body__form__name-kana
      .user-info__content__body__form__name-birthday
      .user-info__content__body__form__attention
      .user-info__content__body__form__robot







-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "users/shared/links"
