.sign-up__header

.sign-up__complete
  .sign-up__complete__header
    %h2 会員登録完了
  .sign-up__complete__body
    .sign-up__complete__body__content
      .sign-up__complete__body__content__form-group
        ありがとうございます。
        %br 会員登録が完了しました。
      .sign-up__complete__body__content__next-btn
        = link_to "/products", method: :get  do
          メルカリをはじめる
          
.sign-up__footer
