
.input-bar{
  background-color: $mercari_white;
  width: 100%;
  &__title{
    font-size: 24px;
    padding: 8px 24px;
    height: 50px;
    font-weight: 600;
    border-bottom: 1px solid $mercari_grey;
    text-align: center;
  }
  &__form-field{
    padding: 64px;
    &__document{
      &__btm{
        text-align: right;
      }
    }
    &__box{
      margin: 40px 0 0;
      &__btm{
        text-align: right;
      }
    }
  }
  &__form-field a{
    color: $mercari_blue;
  }
}
.input-bar p{
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

.input-bar a{
  text-decoration: none;
  top: 10px;
}

.fa-document__btm{
  font-size: 1.5rem;
  color: $mercari_blue;
}

.input-bar__form-field__box label{
  font-weight: 600;
  font-size: 14px;
}

.input-bar span{
  background: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $mercari_white;
  font-size: 12px;
  vertical-align: top;
}

.form-input-box{
  height: 48px;
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: $mercari_white;
  line-height: 1.5;
  font-size: 16px;
}

.identification-registration-btn{
  background: $mercari_red;
  border: 1px solid $mercari_red;
  color: $mercari_white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  margin: 40px 0 0 0;
}

.form-select-box{
  position: relative;
  background: $mercari_white;
  margin: 8px 0 0;
  &__selecter{
    position: relative;
    width: 100%;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.fa-select-btm-box{
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 1.8rem;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}