.sign-in
  .sign-in__main
    .sign-in__main__header
      %pアカウントをお持ちでない方はこちら
      %button.sign-in__main__header__box
        =link_to "新規会員登録", "/users/new"
    .sign-in__main__inner
      %button.sign-in__main__inner__facebook
        %i.fa.fa-facebook-official
          =link_to "Facebookでログイン",user_facebook_omniauth_authorize_path,method: :post
      %button.sign-in__main__inner__google
        %i.fa.fa-google
          =link_to "Googleでログイン",user_google_oauth2_omniauth_authorize_path,method: :post
    .sign-in__main__footer
      .sign-in__main__footer__form
        %input{name:"email", placeholder: "メールアドレス", typ:"email", value: ""}/
      .sign-in__main__footer__form
        %input{name: "password", placeholder:"パスワード", type:"password", value:""}/
      .sign-in__main__footer__form
        %button{type: "submit"} ログイン
      .sign-in__main__footer__form
        =link_to "パスワードをお忘れの方"