- case params.values_at :controller, :action

- when ['users', 'index']
  - breadcrumb :users

- when ['users', 'card']
  - breadcrumb :card

- when ['users', 'exhibit']
  - breadcrumb :exhibit

- when ['users', 'trade']
  - breadcrumb :trade

- when ['users', 'sale']
  - breadcrumb :sale

- when ['identifications', 'new']
  - breadcrumb :identification

= breadcrumbs separator: " &rsaquo; "
