= render 'products/header'


.category-body
  .category-body__full-width
    .category-body__full-width__parts
      いろんなカテゴリ
    .category-body__full-width__item-contents
      .category-body__full-width__item-contents__header
        商品一覧
      .category-body__full-width__item-contents__content.clearfix
        - @category_products.each do |category_product|
          .category-body__full-width__item-contents__content__items-box
            = link_to product_path(category_product.id) do
              .category-body__full-width__item-contents__content__items-box--photo
                ww
              .category-body__full-width__item-contents__content__items-box--body
                .category-body__full-width__item-contents__content__items-box--body__name
                  = category_product.name
                .category-body__full-width__item-contents__content__items-box--body__num
                  .category-body__full-width__item-contents__content__items-box--body__num__price
                    =category_product.price
                  .category-body__full-width__item-contents__content__items-box--body__num__like
                    ♡

  .pager
    .pager__num
      1
  .special-description
    .special-description__title
      カテゴリ
    .special-description__text
      カテゴリ説明

= render 'users/footer'
