= render 'products/header'

.top-page-main
  .top-main
    .top-main__header
      .top-main__header__back
    .top-main__pickup
      %h2.top-main__pickup__head
        ピックアップカテゴリー
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "レディース新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "メンズ新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ベビー・キッズ新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "コスメ・香水・美容 新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
    .top-main__pickup
      %h2.top-main__pickup__head
        ピックアップブランド
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "シャネル新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ルイヴィトン新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "シュプリーム新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ナイキ新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
