*{
  box-sizing: border-box;
}
// ヘッダーの記述
.user-info__header{
  width: 100%;
  height: 128px;
  text-align: center;
  &__mercari-icon{
    width: 195px;
    height: 49px;
    margin: 40px 0 0;
    display: inline-block;
    &__image{
      width: 195px;
      height: 49px;
      object-fit: cover;
      height: 100%;
      width: 100%;  
    }
  }
  &__progress{
    padding: 4px 0 0 44px;
    border: 0;
    width: 552px;
    height: 72px;
    display: inline-block;
    vertical-align: top;   
    &__flat-bar{
      z-index: 1;
      position: relative;
      top: 37px;   
      &__left{
        z-index: 2;
        display: inline-block;
        content: '';
        height: 2px;
        background: $mercari_red;
        position: absolute;
        bottom: 0;
        // 以下1行のpxを調整して、ビューを整える（必要であればmarginでも調整）
        width: 100px;
      }
      &__right{
        z-index: 2;
        display: inline-block;
        content: '';
        height: 2px;
        background: #ccc;
        position: relative;
        vertical-align: bottom;
        // 以下２行のpxを調整して、ビューを整える
        margin-right: 25px;
        width: 419px;
      }
    }
    &__current-now{
      display: inline-block;
      font-size: 12px;
      margin: 0 32px 0 0;
      color: $mercari_red;
      position: relative;
      z-index: 2;
      font-weight: 600;
      &__round{
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: $mercari_red;
        border-radius: 50%;
        position: relative;
        z-index: 2;
      }
    }  
    &__current{
      display: inline-block;
      font-size: 12px;
      margin: 0 32px 0 0;
      color: #888;
      position: relative;   
      &__round{
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;
        position: relative;   
      }
    }   
  }   
} 

// bodyの記述
.user-info__content{
  width: 700px;
  margin: 0 auto;
  background-color: white;
  &__header h2{
    font-size: 22px;
    padding: 32px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
  }
  &__body{
    padding: 40px 40px 64px;
    border-top: 1px solid #f5f5f5;   
    &__form{
      max-width: 343px;
      margin: 0 auto;
      &__announce-header{
        font-size: 16px;
        font-weight: bold;
      }
      &__announce-explain{
        margin: 8px 0 0;
        padding: 0;
        font-size: 14px;
      }
      &__reason {
        margin-top: 40px;
        text-align: right;
        & a{
        color: $mercari-blue;
        text-decoration-line: none;
        }
      }
    }
  }
  &__title{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
  }  
  &__form-group{
    margin-top: 32px;
    &__comfirm {
      line-height: 1.5;
      text-align: center;
      font-size: 14px;
    }
  }
  &__form-group-first{
    margin-top: 0;
  }  
  &__form{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  &__form-half{
    display: inline-block;
    width: calc(50% - 6px);
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  &__comfirm{
    margin: 8px 0 0;
    line-height: 1.5;
    color: #888;
    font-size:14px;
  }
  &__next-btn{
    margin-top: 32px;
    width: 100%;
    color: #fff;
    background-color: $mercari-red;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
  } 
}
.required-field{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background-color: $mercari-red;
  width: 32px;
  display: inline-block;
}
.birthday-box{
  margin-top: 8px; 
}

.birthday-form{
  position: relative;
  width: 76px;
  display: flex;
  align-items: center;
  &__select{
    display: inline-block;
    -webkit-appearance: none;
    width: 76px;
    margin: 0 10px;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    &__chevron{
      position: absolute;
      right: 12px;
      top: 45%;
      z-index: 2;
      color: #888;
      font-size: 8px;
    }
  }
}

// フッター
.user-info__footer{
  height: 220px;
  width: 456px;
  margin: 0 auto;
  padding: 40px ;
  text-align: center;
  box-sizing: border-box;
  background-color: $mercari-grey;
  nav{
    ul{
      font-size: 0;  
      ul.clearfix:after{
        content: '';
        display: block;
        clear: both;
      }
      li{
        display: inline-block;
        font-size: 12px;
        margin: 0 0 0 16px;       
        a{
          color: $mercari_black;
          text-decoration: none;
        }
      }
    }
  }
  p{
  margin: 8px 0 0;
  small{
  font-size: 13px;
    }
  }
}
.bottom-image{
  text-align: center;
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
  display: block;
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;  
  }
}

// モーダル
.modal_bg3 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
  display: none;
  width: 100%;
  height: 120%;
  background-color: $mercari-grey;
}
.modal_bg4 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3333;
  display: none;
  width: 100%;
  height: 120%;
  background-color: $mercari-grey;
}
.modal_bg5 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5555;
  display: none;
  width: 100%;
  height: 120%;
  background-color: $mercari-grey;
}
.modal_bg6 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7777;
  display: none;
  width: 100%;
  height: 120%;
  background-color: $mercari-grey;
}