.sign-up__header{
  height: 128px;
}

.sign-up__content{
  background-color: white;
  width: 700px;
  margin: 0 auto;
  &__header{
    font-size: 22px;
    padding: 32px;
    line-height: 1.5;
    text-align: center;
  }
  &__registation{
    padding: 40px 40px 64px;
    border-top: 1px solid #f5f5f5;
    &__box{
      max-width: 343px;
      margin: 0 auto;
    
      &__mail {
          width: 100%;
          color: #fff;
          background-color: $mercari-red;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          border-radius: 4px;
      }
      &__facebook {
          margin: 16px 0 0;
          background: #385185;
          color: #fff;
          font-size: 14px;
          border: 1px solid transparent;
          border-radius: 4px;
          width: 100%;
          line-height: 48px;
      }
      &__google{
          margin: 16px 0 0;
          background: #fff;
          border: #979797 solid 1px;
          color: #333;
          margin: 16px 0 0;
          font-size: 14px;
          border-radius: 4px;
          width: 100%;
          line-height: 48px;
      }
    }
  }
}

.sign-up__footer{
  width: 456px;
  height: 220px;
  margin: 0 auto;
}
