.sign-up__complete{
  width: 700px;
  margin: 0 auto;
  background-color: white;
  &__header h2{
    font-size: 22px;
    padding: 32px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
  }
  &__body{
    padding: 40px 40px 64px;
    border-top: 1px solid #f5f5f5;
    &__content{
      max-width: 343px;
      margin: 0 auto;
      &__next-btn a{
        display: block;
        margin-top: 32px;
        width: 100%;
        color: #fff;
        background-color: $mercari-red;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        border-radius: 4px;
        text-align: center;
      } 
      &__form-group{
        text-align: center;
        color: #333;
        font-size: 14px;
      }
    }
  }
}