.sign-in{
  display: block;
  &__main{
    max-width: none;
    width: 456px;
    margin: 0 auto;
    background: #fff;
    &__header{
      padding: 40px 64px;
      p{
        font-size: 14px;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        text-align:center;
      }
      &__box{
        width: 100%;
        color: #fff;
        background-color:#0099E8;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        border-radius: 4px;
        a{
          color:#fff;
        }
      }
    }
    &__inner{
      padding: 40px 64px;
      &__facebook{
        margin: 16px 0 0;
        background: #385185;
        color: #fff;
        font-size: 14px;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 100%;
        line-height: 48px;
        a:visited{
          color:#fff;
        }
        i:before{
          font-size: 33px;
          position: relative;
          right: 65px;
          top: 6px;
          }
      }
      &__google{
        margin: 16px 0 0;
        background: #fff;
        border: #979797 solid 1px;
        color: #333;
        margin: 16px 0 0;
        font-size: 14px;
        border-radius: 4px;
        width: 100%;
        line-height: 48px;
        a:visited{
          color: #333;
        }
        i:before{
          font-size: 20px;
          position: relative;
          right: 75px;
          }
    }
  }
    &__footer{
      padding: 40px 64px;
      a{
        color:#0099E8;
        font-size: 14px;
      }
      &__form{
        margin: 24px 0 0;
        input{
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 100%;
        }
      button{
        width: 100%;
        color: #fff;
        background-color:#EA352D;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        border-radius: 4px;
      }
    }
  }
}
}
