.category-body{
  margin: 40px auto 0;
  width: 1040px;
  &__full-width{
    width: 100%;
    &__parts{
      margin: 0;
    }
    &__item-contents{
      &__header{
        font-size: 22px;
        margin: 24px 0 8px;
      }
      &__content{
        width:auto;
        &__items-box{
          width: 188px;
          margin: 0 20px 20px 0;
          float:left;
      
          &--photo{
            width: 188px;
            height: 188px;
            background-color: antiquewhite;   
          }
          &--body{
            height: 110px;
            padding: 16px;
            box-sizing: border-box;
            background-color: white;      
            &__name{
              overflow: hidden;
              position: relative;
              font-size: 16px;
              font-weight: 400;
              color:#333;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
            }
            &__name::after{
              display: block;
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 50%;
              height: 1.5em;
              background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
              background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
            }       
            &__num{
              margin: 8px 0 0;
              display: flex;
              justify-content: space-between;      
              &__price{
                font-weight: 600;
                color: #333;
              }
              &__price::before{
                content: "¥"
              }
              &__like{
                font-size: 16px;
                font-weight: 400;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}

.pager{
  margin: 40px 0 0;
  &__num{
    max-width: 220px;
    margin: 0 auto;
  }
}

.special-description{
  margin-top:30px;
  margin-bottom: 30px;
  &__title{
    text-align: center;
    background-color: $mercari-red;
    color: white;
    padding: 16px 8px;
    font-size: 22px;
  }
  &__text{
    padding: 30px;
    background-color: white;
    color: #333;
    font-size: 14px;
  }
}