.fotter-exhibition-btn{
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  text-decoration: none;
  
  &__name{
    margin: 26px 0 0;

  }
  i.fa.fa-camera{
    margin: 4px 0 0;
    font-size: 54px;

  }
}
