.edit_modal{
  display: none;
  z-index: 2222;
  position: fixed;

  &__inner{
    width: 600px;
    margin: 24px auto;
    padding: 0 0 40px;
    background: #fff;
    &__header{
      padding: 16px;
      &--left{
        float: left;
        margin: 12px 0 0;
        font-size: 18px;
      }
      &--right{
        float: right;
        margin: 12px 0 0;
        font-size: 18px;
      }
    }
    &__content{
      width: 380px;
      margin: 0 auto;
      &--image{
        cursor: grab;
        width: 380px;
        height: 380px;
        background-color: black;
      }
      #edit_modal__inner__content--image--new{
        cursor: grab;
        width: 380px;
        height: 380px;
        background-color: black;
        .upload-product__modal-image{
          max-width: 380px;
          max-height: 380px;
        }
      }

      &__range{
        width: 300px;
        position: relative;
        margin: 16px auto 0;
        padding: 8px 0 4px;
        &__left{
          left: 0;
          font-size: 12px;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
        &__right{
          right: 0;
          font-size: 20px; 
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);      
        }
      }
    }
    &__btn{
      max-width: 380px;
      margin: 24px auto 0;
      padding: 0 16px;
      &--cancel{
        width: 45%;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        display: block;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        float: left;
      }
      &--done{
        width: 45%;
        background: $mercari-red;
        border: 1px solid $mercari-red;
        color: #fff;
        display: block;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        float: right;

      }
    }
    &__btn::after{
      content: '';
      display: block;
      clear: both;
    }
  }
}
