.prev-image-content{
  margin-top: 16px;
  width: 620px;
  min-height: 160px;
  display: inline-block;
  &__image-box{
    // display: inline-block;
    // 子要素のinline-blockの隙間削除
    font-size: 0;
    &__prev{
      width: 110px;
      margin: 0 0 10px 14px;
      display: inline-block;
      float: left;
      &__image{
        width: 110px;
        height: 110px;
        vertical-align: bottom;
      }
      &__update{
        font-size: 14px;
        width: 100%;
        height: 60px;
        vertical-align: bottom;
        color:$mercari-blue;
        display: table;
        &--edit{
          display: table-cell;
          width: 50%;
          background: #f5f5f5;
          line-height: 44px;
          text-align: center;
          cursor: pointer;
        }
        &--delete{
          display: table-cell;
          width: 50%;
          background: #f5f5f5;
          line-height: 44px;
          text-align: center;
          .delete_check{
            display: none;
          }
          label{
            display: block;
            height:50px;
            margin: 5px 1px ;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__upload-box{
    display: inline-block;
    width: 606px;
    min-width: 100px;
    box-sizing: border-box;
    // margin: 0 10px ;
    height: 176px;
    border: 1px dashed #ccc;
    border-width: thin;
    background-color: $mercari_grey;
    cursor: pointer;
    float: right;
    bottom: 0;
    #display-none1{
      display: none;
    }
    &__image_preview{
      width: 606px;
      height: 160px;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      cursor: pointer;
      display: table-cell;
    }
  }
}
.real_image{
  width: 110px;
  height: 110px;
}
